<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>II Word War</title>
  <!-- Latest compiled and minified CSS & JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="static/styles/style.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
</head>

<body>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-md-offset-0">						
			<div class="jumbotron text-center">						
                <h1>The II World War</h1>
                <h4>by Giorgia, Liz and Olga</h4>
            </div>
			</div>
        </div>
        <!-- Nav Bar -->
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <a class="navbar-brand" href="index.html" style="color: blue; background-color: teal;">
                    <span class="nav-color">II War World</span>
                </a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis Performed <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="bombarded_locations.html">Bombarded Locations</a></li>
                                <li><a href="map.html">Stations Analysis</a></li>
                                <li><a href="dash.html">Stations Analysis with Dash</a></li>
                                <li><a href="population.html">Migration Analysis</a></li>
                            </ul>
            </div>
        </div>
    </nav>
        <!-- <div class="row">
            <div class="col-xs-12  col-md-9 col-md-offset-0">
                <div class="iframeContainer" style="width: 80vw;height: 80vh;position: relative;">
                    <!-- responsive iframe to include the d3.html file -->
                    <!-- <iframe scrolling="auto" allowtransparency="true" name="main" style="width:100%;height:100%"> </iframe>
                </div>
            </div>
        </div> --> 
		<div class="row">
			<div class="col-xs-12  col-md-9 col-md-offset-0">
				<div class="article">
					<!-- analysis of the data -->
					<br>
                    <h3> Based on the data we found on the internet, from different sources, we tried to answer the following questions: </h3> 
                    <br>
                    <ul>
                        <li>1) Can we follow any migration trends with the projected data?</li>
                        <li>2) Stations analysis: where the stations located in strategic points?</li>
                        <li>3) How many bombarded locations there have been and where? </li>
                    </ul>	
				</div>
			</div>
		</div>
	</div>
	<!-- Footer-->
	<div id="footer">
		<div class = "footer-copyright py-3 text-center">
			<!-- Insert your Copyright Info here -->
			<p> © 2018 Copyright: Giorgia Basso </p>
	</div>
	</div>

</body>
</html>